img.generated-acelink-icon {
  height: 1em !important;
  vertical-align: middle !important;
  margin: 0 5px 0 0 !important;
  position: relative !important;
  top: -1px !important;
  display: inline-block !important;
}

a.generated-acelink-link {
  text-decoration: underline !important;
  white-space: nowrap !important;
}
